body{
    background-color: rgb(63, 20, 218);
}
h1{
    color:gold;
}
h2{
    color: yellow;
}
h3{
    color: yellowgreen;
}
h4{
    color:greenyellow;
}
h5{
    color: goldenrod;
}
h6{
    color:darkgoldenrod;
}
p{
    color:white;
}
